<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-image: url('../img/timeout2.jpg');padding-top: 30%;background-repeat: no-repeat;background-size: cover;background-position: center center;margin-top:50px">
	<div style="color: white;">
	<h1  style="text-align: top ;top: 50%;left: 50%;"><b>Sorry ! Time Out</b></h1>
	</div>
	<!--<img src="../img/timeout2.jpg" style="width: 100%;height: 50%;margin-bottom: 100px;">-->
</body>
</html>